{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>romand-love yourself</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'app/home.css' %}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'app/photos/ROMAND-Logo.png' %}">
  <link rel="preload" as="image" href="{% static 'app/photos/hero-banner-1.jpg' %}">
  <link rel="preload" as="image" href="./assets/images/hero-banner-2.jpg">
  <link rel="preload" as="image" href="./assets/images/hero-banner-3.jpg">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header">

    <div class="alert">
      <div class="container">
        <p class="alert-text">Free Shipping On All U.S. Orders $50+</p>
      </div>
    </div>

    <div class="header-top" data-header>
      <div class="container">

        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </button>

        <div class="input-wrapper">
          <input type="search" name="search" placeholder="Search product" class="search-field">

          <button class="search-submit" aria-label="search">
            <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <a href="#" class="logo">
          <img src="{% static 'app/photos/ROMAND-Logo.png' %}" width="179" height="26" alt="Glowing">
        </a>

        <div class="header-actions">

            <a href="{% url 'app:profile' %}" class="header-action-btn" aria-label="user">
                <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
            </a>

          <button class="header-action-btn" aria-label="favourite item">
            <ion-icon name="star-outline" aria-hidden="true" aria-hidden="true"></ion-icon>

            <span class="btn-badge">0</span>
          </button>

          <button class="header-action-btn" aria-label="cart item">
            <data class="btn-text" value="0">$0.00</data>

            <ion-icon name="bag-handle-outline" aria-hidden="true" aria-hidden="true"></ion-icon>

            <span class="btn-badge">0</span>
          </button>

        </div>

        <nav class="navbar">
          <ul class="navbar-list">

            <li>
              <a href="{% url 'app:home' %}" class="navbar-link has-after">Home</a>
            </li>

            <li>
              <a href="{% url 'app:lips' %}" class="navbar-link has-after">Lips</a>
            </li>

            <li>
              <a href="{% url 'app:eye' %}" class="navbar-link has-after">Eyes</a>
            </li>


            <li>
              <a href="{% url 'app:about' %}" class="navbar-link has-after">Blog</a>
            </li>
            <li>
              <a href="{% url 'app:faq' %}" class="navbar-link has-after">FAQ</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>

  </header>





  <!-- 
    - #MOBILE NAVBAR
  -->

  <div class="sidebar">
    <div class="mobile-navbar" data-navbar>

      <div class="wrapper">
        <a href="#" class="logo">
          <img src="{% static 'app/photos/ROMAND-Logo.png' %}" width="179" height="26" alt="Glowing">
        </a>

        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>

      <ul class="navbar-list">

        <li>
          <a href="{% url 'app:home' %}" class="navbar-link" data-nav-link>Home</a>
        </li>

        <li>
          <a href="{% url 'app:lips' %}" class="navbar-link" data-nav-link>Lips</a>
        </li>

        <li>
          <a href="{% url 'app:eye' %}" class="navbar-link" data-nav-link>Eyes</a>
        </li>

       

        <li>
          <a href="{% url 'app:about' %}" class="navbar-link" data-nav-link>Blog</a>
        </li>

        <li>
          <a href="{% url 'app:faq' %}" class="navbar-link" data-nav-link>FAQ</a>
        </li>



      </ul>

    </div>

    <div class="overlay" data-nav-toggler data-overlay></div>
  </div>





  

  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <p class="text-blk heading">
         Beauty Shop 
        </p>
        <p class="text-blk subHeading" >
          
            A popular Korean cosmetics brand known for its high-quality chic makeup products, founded with the participation of Korean beauty blogger Saerom Min, commonly known as Gaeko. 

            Rom&nd offers high-quality products that highlight the unique beauty of customers and create visual effects for Instagram.        </p>
      </div>
      <div class="responsive-container-block rightSide">

        <img class="number2img" src="{% static 'app/photos/about.png' %}">
        <img class="number3img" src="{% static 'app/photos/about1.png' %}">
        <img class="number5img" src="{% static 'app/photos/lip_3(1).png' %}">

        <iframe allowfullscreen="allowfullscreen" class="number4vid" poster="{% static 'app/photos/lip_glow1.png' %}" src="{% static 'app/videos/5.webm' %}">
        </iframe>
        
        <img class="number6img" src="{% static 'app/photos/home_7(1).png' %}">
      </div>
    </div>
  </div>
</body>









  <!-- 
    - #FOOTER
  -->

  <footer class="footer" data-section>
  <div class="container">

    <div class="footer-top">

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Company</p>
        </li>

        <li>
          <p class="footer-list-text">
            Find a location nearest you. See <a href="https://www.google.kz/maps" class="link">Our Stores</a>
          </p>
        </li>

        <li>
          <p class="footer-list-text bold">+7 705 277 93 13</p>
        </li>

        <li>
          <p class="footer-list-text">loveyourself@romand.com</p>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Useful links</p>
        </li>

        <li>
          <a href="https://romand.us/" class="footer-link">New Products</a>
        </li>

        <li>
          <a href="{% url 'app:home' %}" class="footer-link">Best Sellers</a>
        </li>


        <li>
          <a href="https://www.youtube.com/watch?v=GFq6wH5JR2A" class="footer-link">Online Gift Card</a>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Infomation</p>
        </li>

        <li>
          <a href="https://www.youtube.com/watch?v=IfrDMJU1TcI" class="footer-link">Start a Return</a>
        </li>

        <li>
          <a href="https://www.youtube.com/watch?v=LyRBIeAw8ak" class="footer-link">Contact Us</a>
        </li>

        <li>
          <a href="{% url 'app:faq' %}" class="footer-link">Shipping FAQ</a>
        </li>

        <li>
          <a href="{% url 'app:faq' %}" class="footer-link">Terms & Conditions</a>
        </li>

        <li>
          <a href="{% url 'app:faq' %}" class="footer-link">Privacy Policy</a>
        </li>

      </ul>

      <div class="footer-list">

        <p class="newsletter-title">Good emails.</p>

        <p class="newsletter-text">
          Enter your email below to be the first to know about new collections and product launches.
        </p>

        <form action="" class="newsletter-form">
          <input type="email" name="email_address" placeholder="Enter your email address" required
                 class="email-field">

          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>

      </div>

    </div>

    <div class="footer-bottom">

      <div class="wrapper">
        <p class="copyright">
          &copy; 2023 damiraaminaaiym
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/romandyou/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/@romand8164" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>
      </div>

      <a href="#" class="logo">
        <img src="{% static 'app/photos/ромчик.png' %}" width="179" height="26" loading="lazy" alt="Glowing">
      </a>


    </div>

  </div>
</footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="{% static 'app/js/script.js' %}" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>